body {
    padding-top:50px;
    background: #FFFF26;
    font-family:"Lato",sans-serif;
    color:#000
}

h2 {
    font-size:50px;
    margin-bottom:50px
}

.navbar-default {
    background:#000;
    padding:10px 0;
    border:none
}

.navbar-default .navbar-nav {
    color:#999
}
.navbar-default .navbar-nav > li > a {
   color: #eee;
}
.navbar-default .navbar-nav > li > a:focus {
   color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
   color: #FFE734;
}
.active {
  font-weight: bold;
}
.container .jumbotron,.container-fluid .jumbotron {
    border-radius:0
}

.btn-default {
  background: #333;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
}



.project {
  display: none;
  border-top: 3px dashed #444;
  padding-top: 40px;
  margin-top: 40px;
}

.jumbotron {
    min-height:700px;
    background:none;
    margin:0;
    padding:200px 0;
    border-bottom:4px dashed #444;
}
.jumbotron p {
  font-size: 18px;
}
.jumbotron img {
    width: 100%;
}

.navbar-brand {
    height:45px;
    width:45px;
    margin-left:20px;
    background:url(../images/logo.png);
    background-size:cover;
    text-indent:-9999px
}

.scroll-prompt {
    width:150px;
    text-align:center;
    position:fixed;
    bottom:0;
    font-size:20px;
    left:0;
    right:0;
    color:#000;
    margin-right:auto;
    margin-left:auto;
    font-family:"Georgia",serif;
    font-style:italic;
    background:#fff;
    background:rgba(255,255,255,0.9);
    border-radius:5px 5px 0 0;
    padding:3px
}

.counter-wrapper {
    position:fixed;
    top:38%;
    left:15%;
    text-align:center;
    color:#000
}

.counter {
    font-size:100px;
    line-height:1;
    color:#000
}

.seconds {
    text-transform:uppercase;
    text-align:center
}

.bike {
    width:250px;
    height:200px;
    background:url(../images/bike.png);
    background-size:cover;
    position:fixed;
    bottom:-5px;
    left:-25%
}


@media screen and (max-width: 1000px) {
    .bike,
    .counter-wrapper {
        display: none;
    }
    .jumbotron {
      padding-right: 20px;
      padding-left: 20px;
    }
}